{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Welcome to the Chequed Candidate Dashboard<h2>
    <h3>This is the home page for the Chequed Candidate Dashboard app<h3>
    <br>
    <h4> Query string is: {{ taleo_data }} </h4>
 
    <h4>The reqid is: {{ reqid }}</h4>
    <h4>The candid is: {{ candid }}</h4>
    <h4>The job title is: {{ jobtitle }}</h4>
    <h4>The Cheqeud Job Mapping is: {{ chequedJobMapping }}</h4>
    <h4>The requisitions are: {{ requisitions }}</h4>
    <h4><br> All Candidate Reqs: {{reqDetails}}</h4>
  </div>
{% endblock %}
